<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <title>Edit user</title>
</head>
<body>
<header>
    <div class="container-sm">
        <nav class="nav justify-content-between">
            <ul class="nav">
                <li class="nav-item p-2">
                    <a href="/admin" type="button" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                            <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"></path>
                        </svg>
                        Back
                    </a>
                </li>
                <li class="nav-item p-2">
                    <button type="button" class="btn btn-primary">
                        User: <span class="badge bg-danger" th:text="${user.name}"></span>
                    </button>
                </li>
            </ul>
            <ul class="nav">
                <li class="nav-item p-2 align-items-center d-flex">
                    <span>Hello! <b th:text="${username}"></b></span>
                </li>
                <li class="nav-item p-2">
                    <a href="/logout" type="button" class="btn btn-primary">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor"
                             style="display: inline-block; vertical-align: text-bottom;">
                            <path d="M2 2.75C2 1.784 2.784 1 3.75 1h2.5a.75.75 0 0 1 0 1.5h-2.5a.25.25 0 0 0-.25.25v10.5c0 .138.112.25.25.25h2.5a.75.75 0 0 1 0 1.5h-2.5A1.75 1.75 0 0 1 2 13.25Zm10.44 4.5-1.97-1.97a.749.749 0 0 1 .326-1.275.749.749 0 0 1 .734.215l3.25 3.25a.75.75 0 0 1 0 1.06l-3.25 3.25a.749.749 0 0 1-1.275-.326.749.749 0 0 1 .215-.734l1.97-1.97H6.75a.75.75 0 0 1 0-1.5Z">
                            </path>
                        </svg>
                        Logout
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="container-sm h-100 d-flex align-items-center justify-content-center">
    <div class="card">
        <div class="card-body">
            <div class="text-danger" th:if="${message}"> <span th:text="${message}"></span>
            </div>
            <form action="/admin/edit" method="post">
                <div class="form-group">
                    <label for="name">User name</label>
                    <input type="text" class="form-control" id="name" name="name" th:value="${user.name}">
                </div>
                <ul class="list-group mt-2 mb-2">
                    <li th:each="role : ${roles}" class="list-group-item">
                        <input
                                class="form-check-input"
                                type="radio"
                                name="role"
                                th:value="${role}"
                                th:id="${role}"
                                th:checked="${role.name() == userRole}"
                                th:disabled="${(role.name() != userRole) && ('ROLE_ADMIN' == userRole) && lastAdmin}">
                        <label class="form-check-label" th:for="${role}" th:text="${role}"></label>
                    </li>
                </ul>
                <a href="/admin" type="submit" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                        <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"></path>
                    </svg>
                    Back
                </a>
                <button type="submit" class="btn btn-warning mr-2">Edit</button>
                <input type="hidden" name="id" th:value="${user.id}"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>